Memberships
* User should see link for Basic plan on home page.
* User should see link for Pro plan on home page.
* Basic plan link should point to regular Devise sign up form.
* Pro plan link should point to a costum sign up form.

Strip integration
* Users should have a stripe costumer token in the users table
* Javascript should prevent Pro form from submitting after the user fills it out,
and should send card info to Stripe. Stripe will return a card token.
*Javascript should send user field and card token to our rails app for validation.
Rails app should validate the user field. Rails will note wether its plan 1 or plan 2.
* Once validated rails should send user info(email and plan id) and card token to
Stripe server and Stripe will create a subcription and send back a costumer token.
Rails should save card token and user information to our database.
