<div class="container text-center">
  <h1>about page</h1>
  <p>One of the most beautiful women to have walked this earth,
  her soul is magical, her laugh unforgettable, her love is indescribale.
  It has been an honor to know you.</p>
</div>